$main-color: rgb(100, 200, 130); 
$white: #fff;
$black: #000;
$off: #989898;
$light-gray: #dbdbdb;
$nav: #bdbdbd;
$highlightedBtn: rgb(80, 160, 105);

$hero-gradient: linear-gradient(45deg, rgba(50, 50, 50, 0.6), rgba(0, 0, 0, 0.55));  