@use 'colors' as c;

@mixin burgerBtn {
	position: absolute;
	left: 0;
	height: 3px;
	border-radius: 2px;
	background-color: c.$white;
	transition: width 0.3s;
	content: '';
}

@mixin heroImages($bgImg) {
	background-image: c.$hero-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
}

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: 1px solid c.$black;
	border-radius: 5px;
	font-size: 1.6rem;
}

@mixin contactHeading {
	text-align: center;
	text-transform: uppercase;
	padding: 0.5rem 0 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	color: c.$main-color;
}

@mixin contactHeadingMedium {
	padding: 0.5rem 0 2.2rem;
	font-size: 2.5rem;
}

@mixin contactHeadingLarge {
	padding: 0.5rem 0 2.4rem;
	font-size: 3rem;
}
