@use 'colors' as c;

@mixin burgerBtn {
	position: absolute;
	left: 0;
	height: 3px;
	border-radius: 2px;
	background-color: c.$white;
	transition: width 0.3s;
	content: '';
}

@mixin heroImages($bgImg) {
	background-image: c.$hero-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
}

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: 1px solid c.$black;
	border-radius: 5px;
	font-size: 1.6rem;
}
